{
   "type": "postgres",
   "host": "localhost",
   "port": 5432,
   "username": "",
   "password": "",
   "database": "ljrp",
   "synchronize": false,
   "logging": ["query"],
   "entities": [
      "dist/entity/**/*.js"
   ],
   "migrations": [
      "dist/migration/**/*.js"
   ],
   "cli": {
      "entitiesDir": "src/entity",
      "migrationsDir": "src/migration"
   }
}
